/* .imageSize {
    height: 500px;
    width: 500px;
}
#artistImageDiv {
    height: 700px;
    width: 550px;
    
}

#artistPlayerDiv {
    margin-top: 10px;
    height: 420px;
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;

}

body {
  
    background-image: url("https://images.wallpaperscraft.com/image/headphones_bw_headset_120277_1920x1080.jpg")
} */

body {
    background-image: url("https://images.wallpaperscraft.com/image/headphones_bw_headset_120277_1920x1080.jpg")
}

#artistImageDiv{
    margin-top: 10px;

}

.spotifyPlayer {
    margin-top: 10px;

    background: white;
    border-radius: 10px;

    margin-left: 10px;
}

#blogLogin {
    color: white;
}