#artistImageDiv{
    margin-top: 10px;
}

.spotifyPlayer {
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    margin-left: 10px;
}

#blogLogin {
    color: white;
    margin-left: 10px;
}

#rocknrate{
    font-family: 'Pacifico', cursive;
    color:white;
}
#nav1{
    color:white;
}
#nav2{
    color:white;
    font-family: 'Pacifico', cursive;
}