/* .imageSize {
    height: 500px;
    width: 500px;
} */


body {
    background-image: url("https://images.wallpaperscraft.com/image/headphones_bw_headset_120277_1920x1080.jpg")
}

#artistImage {
    height: 500px;
    width: 500px;

}


#artistImageDiv
{
    margin-top: 10px;

}
#artistImageDiv{
    /* margin-right: -50px; */

}


.spotifyPlayer {
    margin-top: 10px;
    /* padding: 20px; */
    background: white;
    border-radius: 10px;
    /* margin-right: 10px; */
    /* float: right;
    display: block; */
    margin-left: 10px;
}

body {
    background-image: url("https://images.wallpaperscraft.com/image/headphones_bw_headset_120277_1920x1080.jpg")
}